gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# key.properties
# **/*.keystore
# **/*.jks
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
